/*Main Flex Box*/
#mainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Upper Flexbox*/
#headerContainer{
    width: 1250px;
    border: 5px solid black;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}
#purpleRectangle{
    width: 40px;
    height: 125px;
    background-color: purple;
    margin-bottom: 13px;
    margin-left: 15px;
}
#greenRectangle{
    width: 500px;
    height: 175px;
    background-color: green;
    margin-bottom: 15px;
    margin-left: 38px;
}
#blueCircle{
    width: 172px;
    height: 172px;
    background-color: lightblue;
    border-radius: 100%;
    margin-bottom: 13px;
    margin-left: 38px;
}

/*Middle Flexbox*/
#centerContainer{
    width: 1250px;
    border: 5px dashed black;
    height: 250px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tanRectangle{
    width: 1000px;
    height: 175px;
    background-color: beige;
    box-shadow: 5px 10px 10px;
}

/*Lower Flexbox*/
#footerContainer{
    width: 400px;
    border: 1px solid grey;
    height: 200px;
    margin-top: 20px;
    box-shadow: 3px 8px 8px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text{
    color: purple;
    font-size: x-large;
}